*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    justify-content: end;
    justify-items: right;
    height: 160px;
}

#header{
    background-color: grey;
    background-size: cover;
    position: relative !important;
}

#header h1 {
    background-clip: text;
}

.jumbotron {
    padding: 30px;
}

#search-city {
    width: 50%;
}

#search-button-icon {
    width: 20px;
    display: inline-block;
}

.weather-card {
    width: 270px;
    color: white;
    text-align: center;
    background-color: rgb(0, 119, 255);
}

.uv-favorable {
    background-color: forestgreen;
    border-radius: 10px;
    color: white;
}

.uv-moderate {
    background-color: rgb(255, 132, 0);
}

.uv-servere {
background-color: red;
}

@media only screen and (max-width: 992px) {
    #search-city {
        width: 100%;
    }
    #search-button {
        width: 100%;
    }
}

@media only screen and (max-width: 772px) {
    #fiveDayForecastUl {
        justify-content: center;
    }
}
